@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800;900&display=swap');

*{
  margin:0;
  padding:0;
}

body {
  background-image: url('../img/front3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* opacity: 0.3; */
}

.App{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: center;
  /* mix-blend-mode: darken; */
  background-color:  rgba(255, 255, 255, 0.35);
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-sizing: border-box;
}



.closeModal{
  position: fixed;
  top: 10.5%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 8px 15px;
  border-radius: 8px 8px;
  border:none;
  cursor: pointer;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.modalContainer{
  max-width: 90%;
  max-height: 90%;
  z-index: 1;
  width: 320px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgb(247, 244, 255);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  position: relative;
}
.spanTitle{
  background:  #27213B;;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 5px 15px;
  border-bottom: 2px solid #27213B;
  font-weight: bold;
  color: #fff;
  border-radius: 8px 8px 0 0;

/* width: max-content; */
}

.content{
color: #27213B;
margin: 20px;
}

.accept {
min-width: 130px;
height: 40px;
color: #fff;
padding: 10px 20px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
border-radius: 5px;
border: none;
background: #3d348b;
box-shadow: 0 5px #2c0b8e;
margin: 20px 80px;
cursor: pointer;
}