.container{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* min-width: 60%;
    max-width: 100%; */
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.containerElements{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(254, 157, 10, 0.8);
    box-shadow: 10px 10px rgba(0, 0, 0,0.6);
    border-radius: 16px;
    color: #27213B;
    height: 500px;
    padding: 20px;
    z-index: 1;
}

.header{
    float: left;
    width: 100%;
    margin-left: -20%;
}

.logout{
    float: right;
    margin: 40px -80px auto 0px;
}

.title{
    margin: 2px 15px 2px;
    float: left;
    color: #000000;
    font-family: 'Inter';
}

.viewNotes{
    margin: 25px 30px;
   
}

/* .form{
    margin: 10px;
} */
