.container{
    position: absolute;
    background-color: #FFFBFB;
    width: 143px;
    height: 88px;
    border-radius: 8px;
}

.footerNotes{
    margin-right:0;
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 32px;
    background: #F13765;
    border-radius: 0px 0px 8px 8px;
    bottom: 0;
    font-size: 29px;
    cursor: pointer;
}

.spanIcos{
    float: right;
}
